<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Customer360" value="https://pkgs.dev.azure.com/powerbi/_packaging/Customer360/nuget/v3/index.json" />
  </packageSources>
</configuration>