<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="mi-nuget" value="https://pkgs.dev.azure.com/msengagement/_packaging/mi-nuget/nuget/v3/index.json" />
    <add key="mi-nuget-test" value="https://pkgs.dev.azure.com/msengagement/_packaging/mi-nuget-test/nuget/v3/index.json" />
  </packageSources>
</configuration>